doctype html
html
        head
                meta(charset="utf-8")
                meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
                title octas
                link(rel="stylesheet", href="index.css")
                script(src="index.js")
        body
                .container
                        .board-end.player-a
                        .board-end.player-b
                        svg#board
                .main-menu
                        .main-menu-inner
                                h1 octas
                                .option-form
                                        button#startgame はじめる
