doctype html
html
        head
                meta(charset="utf-8")
                meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
                title octas
                link(rel="stylesheet", href="index.css")
                script(src="index.js")
        body
                .container
                        .board-end.board-end-a
                        .board-end.board-end-b
                        svg#board
