doctype html
html
        head
                meta(charset="utf-8")
                meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
                title octas
                link(rel="stylesheet", href="index-local.css")
                script(src="index-local.js")
        body
                .container
                        .board-end.player-a
                        .board-end.player-b
                        svg#board
                        .result-prompt
                                .win-msg
                                        span#winnername
                                        | の勝ち！
                                .option-form
                                        button#reloadbutton リセット
                .main-menu
                        .main-menu-inner
                                h1 octas
                                .option-form
                                        label
                                                input(type="radio", name="vstype" value="HvsAI", checked)
                                                | 人間 vs AI（人間先攻）
                                        label
                                                input(type="radio", name="vstype" value="AIvsH")
                                                | AI vs 人間（AI先攻）
                                        label
                                                input(type="radio", name="vstype" value="HvsHlocal")
                                                | 人間 vs 人間
                                button#startgame はじめる
